@{
    int i3 = 1;
}

<div class="accordion" id="@string.Format("equip{0}", @ViewBag.id)">
    <!-- Equipamentos -->
    <div class="accordion-group">
        <div class="accordion-heading equipamento">
            <a class="accordion-toggle" data-parent="@string.Format("#equip{0}", @ViewBag.id)" data-toggle="collapse" href="@string.Format("#ponto{0}_{1}", @ViewBag.id, @ViewBag.id_div_2)">@ViewBag.name_edulvl</a>

            @await Html.PartialAsync("MenuChangeEditDelete", new ViewDataDictionary(ViewData) { { "type", "EduLvl" }, { "type_id", @ViewBag.id_edulvl } })

        </div><!-- Pontos -->
    </div>
</div>
@await Html.PartialAsync("div_3", new ViewDataDictionary(ViewData) { { "id_div_3", @ViewBag.id_div_2 } })



